/*----------------------------------------------------------*/

*{
	padding: 0;
	margin: 0;
}

html{
	background-color: white;
	height: 100%;
}

body{
	display: block;
	padding-left:10%;
	width: 80%;
	height: 100%;
	align-items: block-start;
	padding-bottom: 5%;
}

#top{
	display: block;
	width: 100%;
	height:17%;
	background-color: rgb(204, 204, 204);
	text-align: center;
}

#nom{
	padding: 2%;
	display: inline-flex;
	color: rgb(205, 161, 162);
	font-size: 2vw;
	text-decoration: none;
	font-family: 'Segoe Script', 'Brush Script MT', 'Lucida Handwriting', 'gabriola', 'Arial';
}

#page{
	padding-bottom: 2%;
	font-size: 2vw;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: white;
}

#menu{
	display: block;
	width: 100%;
	height:8%;
	background-color: rgb(226, 196, 186);
	border-bottom: rgb(204, 204, 204) solid;
}

nav{
    width: 100%;
    top: 0px;
}

nav ul{
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

nav ul li{
    float: left;
    width: 19%;
    margin-left: 5%;
    text-align: center;
    position: relative;
    cursor: default;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(205, 161, 162);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    font-size: 1.5vw;
    color : white;
}

nav a:hover{
    color: rgb(205, 161, 162);
}

.sous, .subSous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 90%;
    margin-left: 10%;
    z-index: 1000;
}

.subSous{
	padding-left: 5%;
}

nav ul li:hover .sous, .subDeroulant:hover .subSous{
    display: block;
}

.sous li, .subSous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a, .subSous a{
	color : rgb(205, 161, 162);
	font-size: 1vw;
}

.sous a:hover, .subSous a:hover{
    border-bottom: none;
}

.deroulant > a::after, .subDeroulant > a::after{
    content:" ▼";
}

.deroulant a:hover, .subDeroulant a:hover,{
	cursor: pointer;
}

footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	width: 100%;
}

.inlineFlexDiv {
	display: inline-flex;
}

/* ------------- Popup ------------- */
.popupContainer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.popup {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 2px solid gray;
    width: 80%;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
}

.popup-header {
    padding: 2px 16px;
    background-color: rgb(226, 196, 186);
    color: white;
    height:30px;
    font-size: 1vw;
    font-weight: bold;
}

.PopupHeaderText {
	float: left;
	padding-top: 3px;
}

.popup-body {
	padding: 2px 16px;
	height: 100%;
}

.closePopupButton {
    color: white;
    float: right;
	font-size: 3vh;
    font-weight: bold;
}

[draggable=true] {
    cursor: move;
}

.closePopupButton:hover, .closePopupButton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ----------- Selector ----------- */
.custom-select {
	position: relative;
	font-family: Arial;
	width: 40%;
}

.custom-select select {
	display: none; /*hide original SELECT element: */
}

.select-selected {
	background-color: white;
	border: solid;
	border-color: rgb(205, 161, 162);
	color: rgb(205, 161, 162);
	padding: 8px 16px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	content: "▼";
	color: white;
	background-color: rgb(205, 161, 162);
    position: absolute;
	right: 0;
    top: 0;
    padding: 8px 16px;
    border: solid;
    border-color: rgb(205, 161, 162);
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	content: "▲";
}

/* style the items (options), including the selected item: */
.select-items div{
	color: rgb(205, 161, 162);
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: white;
	top: 100%;
	left: 0;
	right: 0;
 	z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.custom-select div .customOptionCategory, .custom-select div .customOptionCategory .customOptionCategoryButton {
	cursor: default;
	color: rgb(150, 150, 150);
	display: flex;
	align-items: center;
	cursor: pointer;
}

.custom-select div .customOptionCategory:hover, .custom-select div .customOptionCategory .customOptionCategoryButton:hover {
	background-color: unset;
}

.custom-select div .customOption {
	padding-left: 3vw;
}

.custom-select div .customOptionCategory .customOptionCategoryButton {
	right: 0;
	position: absolute;
	border: none;
}

/* ----------- Validation Button ----------- */
.ValidationButton {
    width: 20%;
    padding: 2%;
    background-color: rgb(226, 196, 186);
    border: outset;
    border-color: rgb(204, 204, 204);
}

.ValidationButton:hover {
    background-color: unset;
    background-color: rgb(205, 161, 162);
}