#flexColumnDiv {
	display: flex;
	flex-direction: column;
	width: 50%;
	background-color: rgb(250, 237, 237);
	margin: auto;
	margin-top: 2%;
	border: inset;
    border-radius: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.flexRowDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flexRowDiv div {
	width: 40%;
	height: auto;
	text-align: center;
	margin: auto;
}

#photo img {
	width: 50%;
	aspect-ratio: auto;
}

#map iframe{
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
}

.boldDiv {
	font-weight: bold;
	font-size: 1.2vw;
}

.boldDiv span{
	font-weight: unset;
	font-size: 0.8vw;
}