#TableDiv {
	display: flex;
	justify-content: center;
	height: max-content;
	padding-bottom: 10%;
}

#WeekTable {
	width: 80%;
	height: 100%
	padding-right: 10%;
	border-spacing: 0;
	table-layout: fixed;
}

#WeekTable tbody {
	width: 80%;
	height: 90%;
	padding-right: 10%;
	border-spacing: 0;
}

#WeekTable tr {
	height: 2%;
}

#WeekTable td, #WeekTable th{
	width: 10%;
	text-align: center;
	font-size: 1vw;
	border-right: solid;
	border-color: black;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#WeekTable thead th
{
	border-bottom: solid;
	border-top : solid;
	border-color: black;
}

#WeekTable thead th:first-child
{
	border-bottom: solid;
	border-top : none;
	border-color: black;
}

#WeekTable tbody tr th
{
	border-left: solid;
	border-color: black;
}

#WeekTable tbody tr:last-child th, #WeekTable tbody tr:last-child td
{
	border-bottom: solid;
	border-color: black;
}

.calendarCase {
	font-size: 1vw;
}

.impossible {
	/*background-color: rgb(226, 196, 186);*/
	background-color: rgb(186, 127, 107);
	cursor: default;
}

.calendarCase.hovered {
	cursor: pointer;
	/*background-color: rgb(226, 196, 186);*/
	background-color: rgb(183, 246, 167);
}

.notPermitted, .notPermitted:hover {
	background-color: lightgrey;
	cursor: default;
}

.reserved, .reserved:hover {
	background-color: rgb(255, 233, 225);
	cursor: default;
}

#TypeReservationDiv {
	height: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.impossible.notPermitted {
	background-color: rgb(121, 105, 100);
}

.impossible.reserved {
	background-color: rgb(121, 105, 100);
}

#addAppointmentPopup {
	width: 40%;
	height: auto;
}

#addAppointmentPopupConfirmation {
	height: 100%;
}

#addAppointmentForm {
	display: flex;
	height: 100%;
	flex-direction: column;
}

#addAppointmentFormInfos {
	display: flex;
}

#addAppointmentFormLabelDiv, #addAppointmentFormInputDiv {
	display: flex;
	width: 40%;
	flex-wrap: wrap;
	flex-direction: column;
}

#addAppointmentFormLabelDiv label, #addAppointmentFormInputDiv input {
	height: 1vw;
	margin-bottom: 1%;
}

#addAppointmentFormLabelDiv label {
	padding-bottom: 4px;
}

#addAppointmentPopupContainer h4 {
	color : rgb(205, 161, 162);
	padding-bottom: 1%;
}

#addAppointmentFormButtonDiv {
	display: flex;
	justify-content: space-around;
	padding-top: 5%;
	padding-bottom: 2%;
}