#RatesDiv {
	display: flex;
	flex-direction: row;
	width: 100%;
	/*height: 100%;*/
	justify-content: space-around;
	margin-top: 2%;
	padding-bottom: 5%;
}

.ColumnRatesDiv {
	display: flex;
	flex-direction: column;
	width: 30%;
	/*height: 100%;*/
	/*justify-content: flex-start;*/
	justify-content: space-around;
}

.ColumnRatesDiv .RatesListDiv {
	display: flex;
	flex-direction: column;
}

.RatesListDiv {
	border-radius: 5%;
	background-color: rgb(250, 237, 237);
	margin-bottom: 3%;
}

h3 {
	text-align: center;
	text-decoration: underline;
	padding-top: 2%;
	font-size: 1.5vw;
}

table {
	font-size: 1vw;
	padding: 1vw;
}

.trSpace {
	height: 1vh;
}

.flexStart {
	justify-content: flex-start;
}